@import "reset";
@import "typography";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "susy";
@import "compass/typography/vertical_rhythm";
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic,cyrillic-ext);


@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@mixin gallery-radius ($color) {
  border: 4px solid $color;
  @include border-radius (100%);
  behavior: url(PIE.htc);
}

body header, div.project-wrap  div.section-wrap, div.gallery-wrap, footer ul.footer, .wrap{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------------//
//-------------------------------------INDEX---------------------------------------//
//----------------------------------------------------------------------------------*/

body {
  box-sizing: border-box;;
}

//-----HEADER-----//

section.header-wrap {
  width: 100%;
  height: 80px;
  background-color: #FFF;
  z-index: 100;
  header {
    h1, a.logo {
      overflow: hidden;
      width: 140px;
      height: 80px;
      float: left;
      margin-left: 10px;
    }

    @media (max-width: 640px) {
      ul.nav {
        float: right;
        vertical-align: middle;
        position: absolute;
        right: 40px;
        top: 25px;
        overflow: hidden;
      }
      ul.nav li {
        display: none;

        a {
          font-family: Calibri;
          @include adjust-font-size-to(20px);
          position: inherit;
        }
      }
      ul.nav li:first-child {
        display: block;
        background: url("../images/mobile-menu-icon.png") left center no-repeat;
        padding: 5px 0 5px 40px;
        span {
          @include adjust-font-size-to(20px);
        }
      }
      ul.nav:hover {
        background-color: #CAE2F5;
        @include opacity(0.85);
        li {
          display: block;
          background-image: none;
          padding: 5px;
          a:hover {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }

    ul.nav li.main a {
      border-bottom: 4px solid #FF9673;
    }
    ul.nav li.about a {
      border-bottom: 4px solid #FFFF73;
    }
    ul.nav li.projects a {
      border-bottom: 4px solid #99FF99;
    }
    ul.nav li.studios a {
      border-bottom: 4px solid #73FFFF;
    }
    ul.nav li.timetable a {
      border-bottom: 4px solid #7396FF;
    }
    ul.nav li.news a {
      border-bottom: 4px solid #B973FF;
    }
    ul.nav li.affiches a {
      border-bottom: 4px solid #FFD558;
    }
    ul.nav li.gallery a {
      border-bottom: 4px solid #FF73FF;
    }
    ul.nav li.ask a {
      border-bottom: 4px solid #FF7373;
    }
  }
}
main div.project-wrap div.section-wrap section.project h2 {
  font-family: "Comfortaa";
  font-weight: normal;
}
$widthsize: 231px;
figure {
  margin: 16px 25px;
  img {
    width: $widthsize;
    height: auto;
  }
}

.index div.project-wrap {
  background: url("../images/backgraund.jpg") no-repeat;
  background-size: cover;
  padding: 10% 0;
  overflow: hidden;
  div.section-wrap {
    section.project {
      @include gallery (8 of 13);
      text-align: center;
      color: #FFF;
      padding: 5% 0;
      @media (max-width: 640px){
        span {
          @include adjust-font-size-to(30px);
        }
        h2 {
          @include adjust-font-size-to(40px);
        }
        p {
          @include adjust-font-size-to(16px);
          @include margin-trailer;
        }
        a {
          color: #FFF;
          @include adjust-font-size-to(16px);
          border: 1px solid #FFF;
          padding: 5px 10px;
          @include border-radius (10px);
        }
      }
    }
  }
}
div.gallery-wrap {
  clear: both;
  @include margin-trailer;
  div.gallerys  {
    text-align: center;
  }
  ul.top-site li.gallery figure {
    img {
        @include gallery-radius (#FFA7FF);
        transition: all 0.5s ease;
    }
    img:hover {
      border: 8px solid #FFA7FF;
    }
    figcaption {
      color: #FFA7FF;
      font-weight: bold;
    }
  }

  ul.top-site li.studios figure {
    img {
      @include gallery-radius (#40E291);
      transition: all 0.5s ease;
    }
    img:hover {
      border: 8px solid #40E291;
    }
    figcaption {
      color: #40E291;
      font-weight: bold;
    }
  }

  ul.top-site li.affiche figure {
    img {
      @include gallery-radius (#FF9673);
      transition: all 0.5s ease;
    }
    img:hover {
      border: 8px solid #FF9673;
    }
    figcaption {
      color: #FF9673;
      font-weight: bold;
    }
  }

  ul.top-site li figure figcaption {
    @include adjust-font-size-to(40px);
  }

  div.gallerys ul.top-site li p {
    @include span (8 of 10);
    float: none;
    margin: 0 auto;
    text-align: left;
    font-family: "MyriadProRegular";
    @include margin-trailer;
  }

  ul.top-site li.gallery a {
    background-color: #FFA7FF;
    border: 1px solid #FFA7FF;
  }

  ul.top-site li.studios a {
    background-color: #40E291;
    border: 1px solid #40E291;
  }

  ul.top-site li.affiche a {
    background-color: #FF9673;
    border: 1px solid #FF9673;
  }

  ul.top-site li a {
    @include adjust-font-size-to(20px);
    padding: 10px 25px;
    @include border-radius(15px);
    behavior: url(PIE.htc);
    color: #FFF;
    font-weight: bold;
  }

  ul.top-site li {
    @include margin-trailer (2);
  }
}

$footsize: 12px;
footer {
  overflow: hidden;
  @include rhythm-padding;
  background-image: url("../images/backgraund_foot.jpg");
  background-size: 100% 100%;
  padding-right: 10px;
  span {
    color: #FFF;
  }

  ul.footer {
    padding: 0 10px;
  }
  ul.footer li {
    @media (max-width: 640px) {
      @include gallery(5 of 10);
    }
    a {
      color: #FFF;
    }
    ul.contacts li span, ul.contacts li a {
      font-weight: bold;
      @include adjust-font-size-to($footsize);
    }
  }

  ul.footer li ul.contacts li, ul.footer li ul.social li {
    float: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
  }
  ul.social li {
    text-align: center;
    span.spilka, span.copyright {
      font-weight: bold;
      @include adjust-font-size-to($footsize);
    }
  }
  ul.footer li ul.social li ul {
    @include rhythm-margins;
    text-align: center;
    overflow: hidden;
    li {
      display: inline-block;
      text-align: center;
      padding-top: 3px;
      overflow: hidden;
      height: 39px;
      width: 42px;
    }

    li.facebook, li.vk {
      background-color: #7396FF;
      border: 0px solid #7396FF;
      @include border-radius(100%);
      behavior: url(PIE.htc);
      @media (min-width: 352px) {
        margin-right: 5px;
      }
      span.fa {
        font-size: 18px;
        padding-top: 8px;
      }
    }
    li.spilka-logo {
      padding-bottom: 3px;
      margin-right: 0;
    }
  }
}
/*----------------------------------------------------------------------------------//
//-------------------------------------STUDIOS--------------------------------------//
//----------------------------------------------------------------------------------*/
.studio main {
  h1 {
    font-family: "Comfortaa";
    font-weight: normal;
    color: #FFF;
    background: url("../images/studios_bg.jpg") no-repeat;
    background-size: 100% 100%;
    @include adjust-font-size-to (60px);
    text-align: center;
    padding: 20px 0;
  }
  ul.studia {
    overflow: hidden;
    margin: 45px auto 30px;
    text-align: center;
    li {
      margin:0 auto 40px;
      max-width: 250px;
      figure {
        position: relative;
        width: 100%;
        padding: 1%;
        margin-left: 0;
      }
      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transparent;
        background: rgba(#41E292, .95);
        @include border-radius(100%);
      }
      figcaption:hover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          @include opaque;
          background: rgba(#41E292, .95);
        }

      h4 {
        position: relative;
        top: 50px;
        left: 10px;
        width: 90%;
        font-size: 1.375em;
        color: #fff;
      }
    }
    li h3 a {
      @include adjust-font-size-to (25px);
      line-height: 1em;
    }
    li.vocal {
      h3 a {
        color: #FF74FF;
      }
      img {
        @include gallery-radius(#FF74FF);
      }
    }
    li.choreography {
      h3 a {
        color: #00D86C;
      }
      img {
        @include gallery-radius(#00D86C);
      }
    }
    li.leading {
      h3 a {
        color: #FF9775;
      }
      img {
        @include gallery-radius(#FF9775);
      }
    }
    li.art {
      h3 a {
        color: #FFC943;
      }
      img {
        @include gallery-radius(#FFC943);
      }
    }
    li.actor {
      h3 a {
        color: #FF7272;
      }
      img {
        @include gallery-radius(#FF7272);
      }
    }
    li.english {
      h3 a {
        color: #00B1E6;
      }
      img {
        @include gallery-radius(#00B1E6);
      }
    }
    li.enlightenment {
      h3 a {
        color: #B974FF;
      }
      img {
        @include gallery-radius(#B974FF);
      }
    }
    li.psyho {
      h3 a {
        color: #C66F71;
      }
      img {
        @include gallery-radius(#C66F71);
      }
    }
    li.step {
      h3 a {
        color: #9BC76B;
      }
      img {
        @include gallery-radius(#9BC76B);
      }
    }
  }
}

.studio footer {
  background-image: none;
  background-color: #00B1E7;
}
/*----------------------------------------------------------------------------------//
//-------------------------------------AFFICHE--------------------------------------//
//----------------------------------------------------------------------------------*/
.affiche main {
  h1 {
    font-family: "Comfortaa";
    font-weight: normal;
    color: #FFF;
    background: url("../images/affiche_bg.jpg") no-repeat;
    background-size: 100% 100%;
    @include adjust-font-size-to(60px);
    text-align: center;
    padding: 20px 0;
  }
  li.num {
    border: 1px #FF9775 solid;
    a {
      color: #FF9775;
    }
  }
  li.num.active {
    background-color: #FF9775;
    a {
      color: #FFF;
    }
  }
  ul.slide {
    text-align: center;
    margin: 25px auto;
    overflow: hidden;
    li {
      display: inline-block;
      padding: 10px 8px;

      @media (max-width: 900px) {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
ul.numeric {
  text-align: center;
  margin-bottom: 40px ;
  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    a {
      line-height: 30px;
      cursor: pointer;
    }
  }
  li.num {
    @include border-radius (100%);
  }
}


.affiche footer {
  clear: both;
  background-image: none;
  background-color: #FF9775;
}
/*----------------------------------------------------------------------------------//
//-------------------------------------NEWS-----------------------------------------//
//----------------------------------------------------------------------------------*/
.new main {
  h1 {
    font-family: "Comfortaa";
    font-weight: normal;
    color: #FFF;
    background: url("../images/news_bg.jpg") no-repeat;
    background-size: 100% 100%;
    @include adjust-font-size-to(60px);
    text-align: center;
    padding: 20px 0;
  }
  li.num {
    border: 1px #BA75FF solid;
    a {
      color: #BA75FF;
    }
  }
  li.num.active {
    background-color: #BA75FF;
    a {
      color: #FFF;
    }
  }
}

.new .listnews {
  li {
    margin: 45px 28px;
  }
  span {
    display: block;
    padding: 10px 7px;
    @include adjust-font-size-to(16px);
    color: #A54CFF;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 19.1px;
    margin-right: 40px;
  }
  h3 {
    @include adjust-font-size-to(25px);
    color: #444444;
    margin: 0 0 10px;
    text-align: center;
  }
  p {
    color: #444444;
  }

}
.new footer {
  clear: both;
  background-image: none;
  background-color: #BA75FF;
}

/*----------------------------------------------------------------------------------//
//-----------------------------------CONTACTS---------------------------------------//
//----------------------------------------------------------------------------------*/
.conta {
    h1 {
      font-family: "Comfortaa";
      font-weight: normal;
      color: #FFF;
      background: url("../images/contact_bg.jpg") no-repeat;
      background-size: 100% 100%;
      @include adjust-font-size-to(60px);
      text-align: center;
      padding: 20px 0;
    }
  .wrap {

  }
  .map {
    width: 100%;
    height: 100%;
  }
  ul.cont_wrapp {
    margin: 65px auto;
    width: 100%;
    max-width: 550px;
    color: #444444;
    li dt {
      line-height: 24px;
    }
    ul li {
      @include adjust-font-size-to(18px);
    }
    li.address {
      dt {
        @include adjust-font-size-to(20px);
        font-weight: bold;

        background: url("../images/address.png") no-repeat center left;
        padding: 2.5px 0 2.5px 68px;
      }
//      dd {
//        @include adjust-font-size-to(18px);
//      }
    }
    li.email {
      dt {
//        @include adjust-font-size-to(18px);
        font-weight: bold;
        margin-right: 5px;
        float: left;
      }
//      dd {
////        @include adjust-font-size-to(18px);
//
//      }
    }
  }
  footer {
    clear: both;
    background-image: none;
    background-color: #FF7373;
  }
}