/*----------------------------------------------------------------------------------//
//------------------------------RESET DEFAULT STYLES--------------------------------//
//----------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic,cyrillic-ext);
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 16px Calibri, arial, Tahoma, sans-serif;
  color: #000;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

select, input, textarea {
  font-size: 16px;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

img, fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link, a:visited {
  font: 16px Calibri, Tahoma, sans-serif;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body header, div.project-wrap div.section-wrap, div.gallery-wrap, footer ul.footer, .wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------------//
//-------------------------------------INDEX---------------------------------------//
//----------------------------------------------------------------------------------*/
body {
  box-sizing: border-box;
}

section.header-wrap {
  width: 100%;
  height: 80px;
  background-color: #FFF;
  z-index: 100;
}
section.header-wrap header h1, section.header-wrap header a.logo {
  overflow: hidden;
  width: 140px;
  height: 80px;
  float: left;
  margin-left: 10px;
}
@media (max-width: 640px) {
  section.header-wrap header ul.nav {
    float: right;
    vertical-align: middle;
    position: absolute;
    right: 40px;
    top: 25px;
    overflow: hidden;
  }
  section.header-wrap header ul.nav li {
    display: none;
  }
  section.header-wrap header ul.nav li a {
    font-family: Calibri;
    font-size: 1.25em;
    line-height: 1.2em;
    position: inherit;
  }
  section.header-wrap header ul.nav li:first-child {
    display: block;
    background: url("../images/mobile-menu-icon.png") left center no-repeat;
    padding: 5px 0 5px 40px;
  }
  section.header-wrap header ul.nav li:first-child span {
    font-size: 1.25em;
    line-height: 1.2em;
  }
  section.header-wrap header ul.nav:hover {
    background-color: #CAE2F5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
  }
  section.header-wrap header ul.nav:hover li {
    display: block;
    background-image: none;
    padding: 5px;
  }
  section.header-wrap header ul.nav:hover li a:hover {
    text-decoration: none;
    font-weight: bold;
  }
}
section.header-wrap header ul.nav li.main a {
  border-bottom: 4px solid #FF9673;
}
section.header-wrap header ul.nav li.about a {
  border-bottom: 4px solid #FFFF73;
}
section.header-wrap header ul.nav li.projects a {
  border-bottom: 4px solid #99FF99;
}
section.header-wrap header ul.nav li.studios a {
  border-bottom: 4px solid #73FFFF;
}
section.header-wrap header ul.nav li.timetable a {
  border-bottom: 4px solid #7396FF;
}
section.header-wrap header ul.nav li.news a {
  border-bottom: 4px solid #B973FF;
}
section.header-wrap header ul.nav li.affiches a {
  border-bottom: 4px solid #FFD558;
}
section.header-wrap header ul.nav li.gallery a {
  border-bottom: 4px solid #FF73FF;
}
section.header-wrap header ul.nav li.ask a {
  border-bottom: 4px solid #FF7373;
}

main div.project-wrap div.section-wrap section.project h2 {
  font-family: "Comfortaa";
  font-weight: normal;
}

figure {
  margin: 16px 25px;
}
figure img {
  width: 231px;
  height: auto;
}

.index div.project-wrap {
  background: url("../images/backgraund.jpg") no-repeat;
  background-size: cover;
  padding: 10% 0;
  overflow: hidden;
}
.index div.project-wrap div.section-wrap section.project {
  width: 60.9375%;
  float: left;
  text-align: center;
  color: #FFF;
  padding: 5% 0;
}
.index div.project-wrap div.section-wrap section.project:nth-child(1n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
@media (max-width: 640px) {
  .index div.project-wrap div.section-wrap section.project span {
    font-size: 1.875em;
    line-height: 1.6em;
  }
  .index div.project-wrap div.section-wrap section.project h2 {
    font-size: 2.5em;
    line-height: 1.2em;
  }
  .index div.project-wrap div.section-wrap section.project p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  .index div.project-wrap div.section-wrap section.project a {
    color: #FFF;
    font-size: 1em;
    line-height: 1.5em;
    border: 1px solid #FFF;
    padding: 5px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}

div.gallery-wrap {
  clear: both;
  margin-bottom: 1.5em;
}
div.gallery-wrap div.gallerys {
  text-align: center;
}
div.gallery-wrap ul.top-site li.gallery figure img {
  border: 4px solid #FFA7FF;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
  transition: all 0.5s ease;
}
div.gallery-wrap ul.top-site li.gallery figure img:hover {
  border: 8px solid #FFA7FF;
}
div.gallery-wrap ul.top-site li.gallery figure figcaption {
  color: #FFA7FF;
  font-weight: bold;
}
div.gallery-wrap ul.top-site li.studios figure img {
  border: 4px solid #40E291;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
  transition: all 0.5s ease;
}
div.gallery-wrap ul.top-site li.studios figure img:hover {
  border: 8px solid #40E291;
}
div.gallery-wrap ul.top-site li.studios figure figcaption {
  color: #40E291;
  font-weight: bold;
}
div.gallery-wrap ul.top-site li.affiche figure img {
  border: 4px solid #FF9673;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
  transition: all 0.5s ease;
}
div.gallery-wrap ul.top-site li.affiche figure img:hover {
  border: 8px solid #FF9673;
}
div.gallery-wrap ul.top-site li.affiche figure figcaption {
  color: #FF9673;
  font-weight: bold;
}
div.gallery-wrap ul.top-site li figure figcaption {
  font-size: 2.5em;
  line-height: 1.2em;
}
div.gallery-wrap div.gallerys ul.top-site li p {
  width: 79.59184%;
  float: left;
  margin-right: 2.04082%;
  float: none;
  margin: 0 auto;
  text-align: left;
  font-family: "MyriadProRegular";
  margin-bottom: 1.5em;
}
div.gallery-wrap ul.top-site li.gallery a {
  background-color: #FFA7FF;
  border: 1px solid #FFA7FF;
}
div.gallery-wrap ul.top-site li.studios a {
  background-color: #40E291;
  border: 1px solid #40E291;
}
div.gallery-wrap ul.top-site li.affiche a {
  background-color: #FF9673;
  border: 1px solid #FF9673;
}
div.gallery-wrap ul.top-site li a {
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 10px 25px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url(PIE.htc);
  color: #FFF;
  font-weight: bold;
}
div.gallery-wrap ul.top-site li {
  margin-bottom: 3em;
}

footer {
  overflow: hidden;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-image: url("../images/backgraund_foot.jpg");
  background-size: 100% 100%;
  padding-right: 10px;
}
footer span {
  color: #FFF;
}
footer ul.footer {
  padding: 0 10px;
}
@media (max-width: 640px) {
  footer ul.footer li {
    width: 48.97959%;
    float: left;
  }
  footer ul.footer li:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  footer ul.footer li:nth-child(2n + 2) {
    margin-left: 51.02041%;
    margin-right: -100%;
    clear: none;
  }
}
footer ul.footer li a {
  color: #FFF;
}
footer ul.footer li ul.contacts li span, footer ul.footer li ul.contacts li a {
  font-weight: bold;
  font-size: 0.75em;
  line-height: 2em;
}
footer ul.footer li ul.contacts li, footer ul.footer li ul.social li {
  float: none;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
footer ul.social li {
  text-align: center;
}
footer ul.social li span.spilka, footer ul.social li span.copyright {
  font-weight: bold;
  font-size: 0.75em;
  line-height: 2em;
}
footer ul.footer li ul.social li ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  overflow: hidden;
}
footer ul.footer li ul.social li ul li {
  display: inline-block;
  text-align: center;
  padding-top: 3px;
  overflow: hidden;
  height: 39px;
  width: 42px;
}
footer ul.footer li ul.social li ul li.facebook, footer ul.footer li ul.social li ul li.vk {
  background-color: #7396FF;
  border: 0px solid #7396FF;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
@media (min-width: 352px) {
  footer ul.footer li ul.social li ul li.facebook, footer ul.footer li ul.social li ul li.vk {
    margin-right: 5px;
  }
}
footer ul.footer li ul.social li ul li.facebook span.fa, footer ul.footer li ul.social li ul li.vk span.fa {
  font-size: 18px;
  padding-top: 8px;
}
footer ul.footer li ul.social li ul li.spilka-logo {
  padding-bottom: 3px;
  margin-right: 0;
}

/*----------------------------------------------------------------------------------//
//-------------------------------------STUDIOS--------------------------------------//
//----------------------------------------------------------------------------------*/
.studio main h1 {
  font-family: "Comfortaa";
  font-weight: normal;
  color: #FFF;
  background: url("../images/studios_bg.jpg") no-repeat;
  background-size: 100% 100%;
  font-size: 3.75em;
  line-height: 1.2em;
  text-align: center;
  padding: 20px 0;
}
.studio main ul.studia {
  overflow: hidden;
  margin: 45px auto 30px;
  text-align: center;
}
.studio main ul.studia li {
  margin: 0 auto 40px;
  max-width: 250px;
}
.studio main ul.studia li figure {
  position: relative;
  width: 100%;
  padding: 1%;
  margin-left: 0;
}
.studio main ul.studia li figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background: rgba(65, 226, 146, 0.95);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.studio main ul.studia li figcaption:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: rgba(65, 226, 146, 0.95);
}
.studio main ul.studia li h4 {
  position: relative;
  top: 50px;
  left: 10px;
  width: 90%;
  font-size: 1.375em;
  color: #fff;
}
.studio main ul.studia li h3 a {
  font-size: 1.5625em;
  line-height: 1.92em;
  line-height: 1em;
}
.studio main ul.studia li.vocal h3 a {
  color: #FF74FF;
}
.studio main ul.studia li.vocal img {
  border: 4px solid #FF74FF;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
.studio main ul.studia li.choreography h3 a {
  color: #00D86C;
}
.studio main ul.studia li.choreography img {
  border: 4px solid #00D86C;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
.studio main ul.studia li.leading h3 a {
  color: #FF9775;
}
.studio main ul.studia li.leading img {
  border: 4px solid #FF9775;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
.studio main ul.studia li.art h3 a {
  color: #FFC943;
}
.studio main ul.studia li.art img {
  border: 4px solid #FFC943;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
.studio main ul.studia li.actor h3 a {
  color: #FF7272;
}
.studio main ul.studia li.actor img {
  border: 4px solid #FF7272;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
.studio main ul.studia li.english h3 a {
  color: #00B1E6;
}
.studio main ul.studia li.english img {
  border: 4px solid #00B1E6;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
.studio main ul.studia li.enlightenment h3 a {
  color: #B974FF;
}
.studio main ul.studia li.enlightenment img {
  border: 4px solid #B974FF;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
.studio main ul.studia li.psyho h3 a {
  color: #C66F71;
}
.studio main ul.studia li.psyho img {
  border: 4px solid #C66F71;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}
.studio main ul.studia li.step h3 a {
  color: #9BC76B;
}
.studio main ul.studia li.step img {
  border: 4px solid #9BC76B;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url(PIE.htc);
}

.studio footer {
  background-image: none;
  background-color: #00B1E7;
}

/*----------------------------------------------------------------------------------//
//-------------------------------------AFFICHE--------------------------------------//
//----------------------------------------------------------------------------------*/
.affiche main h1 {
  font-family: "Comfortaa";
  font-weight: normal;
  color: #FFF;
  background: url("../images/affiche_bg.jpg") no-repeat;
  background-size: 100% 100%;
  font-size: 3.75em;
  line-height: 1.2em;
  text-align: center;
  padding: 20px 0;
}
.affiche main li.num {
  border: 1px #FF9775 solid;
}
.affiche main li.num a {
  color: #FF9775;
}
.affiche main li.num.active {
  background-color: #FF9775;
}
.affiche main li.num.active a {
  color: #FFF;
}
.affiche main ul.slide {
  text-align: center;
  margin: 25px auto;
  overflow: hidden;
}
.affiche main ul.slide li {
  display: inline-block;
  padding: 10px 8px;
}
@media (max-width: 900px) {
  .affiche main ul.slide li {
    display: block;
    margin: 0 auto;
  }
}

ul.numeric {
  text-align: center;
  margin-bottom: 40px;
}
ul.numeric li {
  display: inline-block;
  width: 30px;
  height: 30px;
}
ul.numeric li a {
  line-height: 30px;
  cursor: pointer;
}
ul.numeric li.num {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.affiche footer {
  clear: both;
  background-image: none;
  background-color: #FF9775;
}

/*----------------------------------------------------------------------------------//
//-------------------------------------NEWS-----------------------------------------//
//----------------------------------------------------------------------------------*/
.new main h1 {
  font-family: "Comfortaa";
  font-weight: normal;
  color: #FFF;
  background: url("../images/news_bg.jpg") no-repeat;
  background-size: 100% 100%;
  font-size: 3.75em;
  line-height: 1.2em;
  text-align: center;
  padding: 20px 0;
}
.new main li.num {
  border: 1px #BA75FF solid;
}
.new main li.num a {
  color: #BA75FF;
}
.new main li.num.active {
  background-color: #BA75FF;
}
.new main li.num.active a {
  color: #FFF;
}

.new .listnews li {
  margin: 45px 28px;
}
.new .listnews span {
  display: block;
  padding: 10px 7px;
  font-size: 1em;
  line-height: 1.5em;
  color: #A54CFF;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 19.1px;
  margin-right: 40px;
}
.new .listnews h3 {
  font-size: 1.5625em;
  line-height: 1.92em;
  color: #444444;
  margin: 0 0 10px;
  text-align: center;
}
.new .listnews p {
  color: #444444;
}

.new footer {
  clear: both;
  background-image: none;
  background-color: #BA75FF;
}

/*----------------------------------------------------------------------------------//
//-----------------------------------CONTACTS---------------------------------------//
//----------------------------------------------------------------------------------*/
.conta h1 {
  font-family: "Comfortaa";
  font-weight: normal;
  color: #FFF;
  background: url("../images/contact_bg.jpg") no-repeat;
  background-size: 100% 100%;
  font-size: 3.75em;
  line-height: 1.2em;
  text-align: center;
  padding: 20px 0;
}
.conta .map {
  width: 100%;
  height: 100%;
}
.conta ul.cont_wrapp {
  margin: 65px auto;
  width: 100%;
  max-width: 550px;
  color: #444444;
}
.conta ul.cont_wrapp li dt {
  line-height: 24px;
}
.conta ul.cont_wrapp ul li {
  font-size: 1.125em;
  line-height: 1.33333em;
}
.conta ul.cont_wrapp li.address dt {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: bold;
  background: url("../images/address.png") no-repeat center left;
  padding: 2.5px 0 2.5px 68px;
}
.conta ul.cont_wrapp li.email dt {
  font-weight: bold;
  margin-right: 5px;
  float: left;
}
.conta footer {
  clear: both;
  background-image: none;
  background-color: #FF7373;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

@media (min-width: 641px) {
  section.header-wrap header.fix ul.nav {
    float: right;
    margin: 20px 15px auto 0;
  }
  section.header-wrap header.fix ul.nav li {
    display: inline-block;
    margin: 0 3px;
  }
  section.header-wrap header.fix ul.nav li:first-child {
    display: none;
  }
  section.header-wrap header.fix ul.nav li.active {
    display: none;
  }
  section.header-wrap header.fix ul.nav a {
    font-size: 0.7em;
    line-height: 2.14286em;
    transition: all 0.5s ease-in-out;
  }
  section.header-wrap header.fix ul.nav a:hover {
    text-decoration: none;
    font-size: 1.0625em;
    line-height: 1.41176em;
    font-weight: bold;
    margin: 0 2px;
  }

  main div.project-wrap {
    background-size: 100% 100%;
  }
  main div.project-wrap div.section-wrap section.project {
    text-align: left;
    padding-left: 20px;
    width: 60.9375%;
    float: left;
  }
  main div.project-wrap div.section-wrap section.project:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  div.section-wrap span {
    font-size: 2.5em;
    line-height: 1.2em;
  }
  div.section-wrap h2 {
    font-size: 3.4375em;
    line-height: 1.30909em;
  }
  div.section-wrap p {
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 1.5em;
  }
  div.section-wrap a {
    color: #FFF;
    font-size: 1.25em;
    line-height: 1.2em;
    border: 1px solid #FFF;
    padding: 10px 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  div.gallery-wrap div.gallerys ul.top-site {
    margin: 0 10px;
    overflow: hidden;
  }
  div.gallery-wrap div.gallerys ul.top-site li {
    width: 33.28886%;
    float: left;
  }
  div.gallery-wrap div.gallerys ul.top-site li:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  div.gallery-wrap div.gallerys ul.top-site li:nth-child(3n + 2) {
    margin-left: 33.35557%;
    margin-right: -100%;
    clear: none;
  }
  div.gallery-wrap div.gallerys ul.top-site li:nth-child(3n + 3) {
    margin-left: 66.71114%;
    margin-right: -100%;
    clear: none;
  }
  div.gallery-wrap div.gallerys ul.top-site li figure {
    margin: 34px 0 0;
  }
  div.gallery-wrap div.gallerys ul.top-site li img {
    max-width: 207.9px;
  }
}
@media (min-width: 641px) and (max-width: 695px) {
  div.gallery-wrap div.gallerys ul.top-site li img {
    max-width: 184.8px;
  }
}

@media (min-width: 641px) {
  footer ul.footer {
    overflow: hidden;
  }

  footer ul.footer li {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%;
  }

  footer ul.footer li:last-child {
    float: right;
    margin-right: 0;
  }

  footer ul.footer li ul.social li ul li {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  }

  footer ul.footer li ul.social li ul li:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
  }

  ul.footer li ul.social li ul li span {
    padding: 15px 8px 0;
  }

  /*----------------------------------------------------------------------------------//
  //-------------------------------------STUDIOS--------------------------------------//
  //----------------------------------------------------------------------------------*/
  .studio main ul.studia li {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
  }

  .studio footer {
    clear: both;
  }
}
@media (min-width: 480px) {
  .new .listnews span {
    float: left;
    width: 65px;
    height: 59px;
    border: 1px #A54CFF solid;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
  }

  .new .listnews h3 {
    text-align: left;
  }
}
html {
  font-size: 100%;
  line-height: 1.5em;
}

@media (min-width: 700px) {
  section.header-wrap header.fix ul.nav a {
    font-size: 0.75em;
    line-height: 2em;
  }
}
@media (min-width: 769px) {
  section.header-wrap header.fix ul.nav a {
    font-size: 0.9375em;
    line-height: 1.6em;
  }
}
@media (min-width: 961px) {
  section.header-wrap header.fix ul.nav li {
    margin: 0 15px;
  }

  section.header-wrap header.fix ul.nav li.main {
    margin-left: 0;
  }
}
@media (max-width: 960px) {
  .wrap {
    padding: 0 10px;
  }
}
